.btn-clickme {
	width: 125px !important;
	border: 1px solid #11a783 !important;
	color: #11a783 !important;
	font-size: 22.5px;
	font-weight: bolder !important;
}

.btn-clickme:hover{
	color: #fff !important;
	background: #11a783 !important;
}

.btn-clickme:focus{
	box-shadow: none !important;
}